.App {
  text-align: center;
  margin-left: 20px;
}

/* Nerdy secret: You can use "less" below! Don't tell anybody... */

.github-profile {
  margin: 1rem;
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  .info {
    display: inline-block;
    margin-left: 12px;
    .name {
      font-size: 20rem;
      font-weight: bold;
    }
  }
}

form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 5rem;
  margin-bottom: 2rem;
  display: 2rem;
  justify-content: center;
}

.header {
  text-align: left;
  margin-left: 50px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
